input {
  background-color: white;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
}

form {
  background-color: rgba(90, 131, 145, 0.801);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.75rem;
  gap: 0.5rem;
  width: 20%;
  box-shadow: rgba(1, 1, 0, .35) 0px 5px 15px;
}

button {
  font-weight: bold;
  color: white;
  background-color: rgb(191, 118, 40);
  border: 0;
  padding: 0.75rem;
  border-radius: 0.75rem;
}

button:hover {
  cursor: pointer;
  background-color: rgb(102, 62, 20);
}

img {
  width: 3rem;
}

a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  align-self: flex-start;
}

a:hover {
  text-decoration: underline;
}