label {
    font-weight: bold;
    color: white;
    background-color: rgb(191, 118, 40);
    padding: 0.5rem;
    border-radius: 0.25rem;
    display: inline-block;
    margin: 0.5rem 0;
    font-size: small;
}

label:hover {
    cursor: pointer;
    background-color: rgb(149, 95, 37);
}

input[type="checkbox"] {
    display: none;
}

input:checked+label {
    background-color: rgb(112, 69, 22);
}