table {
    width: 100%;
    border-collapse: collapse;

}

thead {
    background-color: rgb(70, 106, 118);
    color: white;

}

tbody {

    background-color: rgba(90, 131, 145, 0.65);
}

td,
th,
table {
    border: 1px solid black;
}

td,
th {
    padding: 0.5rem;
}

tbody tr:first-of-type {
    background-color: rgb(255, 215, 0, 0.75);
    font-weight: bold;
}

tbody tr:nth-of-type(2) {
    background-color: rgba(192, 191, 191, 0.75);
    font-weight: bold;
}

tbody tr:nth-of-type(3) {
    background-color: rgba(152, 104, 31, 0.75);
    font-weight: bold;
}